<!DOCTYPE html>
<html lang="zh-TW">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>蔡鈞如簡介</title>
	<style type="text/css">
		* { font-family:"標楷體"; margin-left:auto; margin-right:auto;}
		h1 {color:#4169e1; font-size:60px;}
		h2 {color:#ffa07a; font-size:40px;}
		.col-lg-4 {border: 1px solid;}
	</style>

	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">

	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>

	<script>
		function change1() {
			document.getElementById("pic").src = "/static/mountain.jpg";
			document.getElementById("h1text").innerText = "靜宜資管";
			document.getElementById("h2text").innerText = "資訊管理導論";
		}
		function change2() {
			document.getElementById("pic").src = "/static/cliff.jpg";
			document.getElementById("h1text").innerText = "蔡鈞如";
			document.getElementById("h2text").innerText = "Jun-Ru Tsai";
		}
	</script>
	
</head>
<body>
	<nav class="navbar navbar-expand-lg bg-light">
		<a class="navbar-brand">選單</a>
		<button class="navbar-toggler" type="button"
		data-bs-toggle="collapse" data-bs-target="#ITEMS">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse" id="ITEMS">
			<ul class="navbar-nav">
				<li class="nav-item">
					<a href="#JunRu"class="nav-link active">關於我</a>
				</li>
				<li class="nav-item">
					<a href="#soundtrack"class="nav-link active">電影配樂</a>
				</li>
				<li class="nav-item">
					<a href="#youtube"class="nav-link active">推薦影片</a>
				</li>
			</ul>	
		</div>
	</nav>
	
	<main class="container-fluid bg-info text-white text-center">
		<img src="cliff.jpg" class="img-fluid rounded-pill" width="50%" id="pic" onmouseover="change1()"onmouseout="change2()"></img>
		<div class="row">
			<section class="col-lg-4">
				<h3 id="JunRu">蔡鈞如(Jun-Ru Tsai)</h3>
				School：<a href="https://www.pu.edu.tw/" class="text-decoration-none text-white bg-secondary">https://www.pu.edu.tw/</a><br>
				IG：<a href="https://www.instagram.com/junruuu_1106" class="text-decoration-none text-white bg-secondary" target="_blank">https://www.instagram.com/junruuu_1106</a><br>
				Tel：<a href="tel:0426328001" class="text-decoration-none text-white bg-secondary">04-26328001</a><br>
				E-Mail：<a href="mailto:ruuu9311@gmail.com" class="text-decoration-none text-white bg-secondary">ruuu9311@gmail.com</a><br>
			</section>

			<section class="col-lg-4">
				<h3 id="soundtrack">電影配樂</h3>
				大象席地而坐電影配樂<br>
				<audio controls>
					<source src="/static/elephant.mp3" type="audio/mP3">
				</audio><br>
			</section>

			<section class="col-lg-4">	
				<h3 id="youtube">推薦影片</h3>		
				摳尼吉蛙<br>
				<div class="ratio ratio-16x9">
					<iframe src="https://www.youtube.com/embed/NeqGvQ_vomA" allowfullscreen>
					</iframe>
				</div>
			</section>
		</div>
	</main>
	
	<footer>
		Copyright © 蔡鈞如. All Rights Reserved.
	</footer>

	</body>
	</html>